.election-chart {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
}

.election-chart h3 {
    margin-bottom: 0px;
    color: #333;
}

.election-chart .chart-container {
    width: 100%;
    height: 400;
}

.chart-container LineChart {
    margin-top: 5;
    margin-right: 30;
    margin-left: 20;
    margin-bottom: 5;
}

.chart-container CartesianGrid {
    stroke: #eee;
    stroke-dasharray: 3 3;
    vertical-align: false;
}

.chart-container AreaChart {
    margin-top: 5;
    margin-right: 30;
    margin-left: 20;
    margin-bottom: 5;
}
